
.header{
    font-family: 'Marvel', sans-serif;
    color:red; 
    font-size: x-large;
    text-align: center;
    border-bottom: black 5px;
    background-image: url(../Images/pexels-hristo-fidanov-1252890.jpg);
    background-size: contain;
    display: block;
    padding: 15px 20px 15px 20px;
    height: 220px;
    margin: 0 auto;
}

.header h1 {
    display: inline-block;
    margin:20px 25px 0px 25px;
    color: yellow;
    vertical-align: top;
    font-size: 75px;
}

.tenor-gif-embed {
    float: right;
}

/* .header div{
    float:right;
} */

.header div ul li{
    text-decoration: none;
    display:inline-block;
    margin-left: 100px;
    margin-right: 25px;
}
a{
    font-family: 'StarWars', sans-serif;
    text-decoration: none;
    color:yellow;
    font-size: 25px;
    float: Right;
    text-align: center;
}

.nav-item {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;
    
}

.nav-item:hover {
    background: lightsteelblue;
    color: red;
    border-radius: 15px;
    text-shadow: none;
}

.hero{
    height:900px ;
    width: 100%;
    background-image:url(../Images/Star\ Wars.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;

    
}

#button{
    font-size: 15px;
}
